<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Repetitions</th>
      <th>Weight</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.exercise %></td>
        <td><%= activity.sets %></td>
        <td><%= activity.repetitions %></td>
        <td><%= activity.weight %></td>
        <td><%= activity.user.name %></td>
        <td>
          <%= link_to 'Show', activity_path(activity) %>
          <%= link_to 'Edit', edit_activity_path(activity) %>
          <%= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Activity', new_activity_path %>
