<h1>Activity Details</h1>

<p><strong>Exercise:</strong> <%= @activity.exercise %></p>
<p><strong>Sets:</strong> <%= @activity.sets %></p>
<p><strong>Repetitions:</strong> <%= @activity.repetitions %></p>
<p><strong>Weight:</strong> <%= @activity.weight %></p>
<p><strong>User:</strong> <%= @activity.user.name %></p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back to Activities', activities_path %>
