<h1>New Nutrition</h1>

<%= form_with model: @nutrition, url: nutritions_path do |form| %>
  <div>
    <%= form.label :calories %>
    <%= form.number_field :calories %>
  </div>

  <div>
    <%= form.label :carbohydrates %>
    <%= form.number_field :carbohydrates %>
  </div>

  <div>
    <%= form.label :proteins %>
    <%= form.number_field :proteins %>
  </div>

  <div>
    <%= form.label :fats %>
    <%= form.number_field :fats %>
  </div>

  <div>
    <%= form.label :user_id, "User" %>
    <%= form.collection_select :user_id, User.all, :id, :name %>
  </div>

  <%= form.submit 'Create Nutrition' %>
<% end %>

<%= link_to 'Back to Nutritions', nutritions_path %>
