<h1>New Goal</h1>

<%= form_with model: @goal, url: goals_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :progress %>
    <%= form.number_field :progress %>
  </div>

  <div>
    <%= form.label :user_id, "User" %>
    <%= form.collection_select :user_id, User.all, :id, :name %>
  </div>

  <%= form.submit 'Create Goal' %>
<% end %>

<%= link_to 'Back to Goals', goals_path %>
